USE [master]
GO
/****** Object:  Database [QuanLyCaAnV2]    Script Date: 11/10/2023 3:23:39 CH ******/
CREATE DATABASE [QuanLyCaAnV2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyCaAnV2', FILENAME = N'D:\sqlserver\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuanLyCaAnV2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyCaAnV2_log', FILENAME = N'D:\sqlserver\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuanLyCaAnV2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyCaAnV2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyCaAnV2]
GO
/****** Object:  Table [dbo].[CaAn]    Script Date: 11/10/2023 3:23:39 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CaAn](
	[CaAnId] [char](36) NOT NULL,
	[ThoiGianBatDau] [datetime] NULL,
	[ThoiGianKetThuc] [datetime] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](255) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](255) NULL,
	[CaAnCode] [varchar](50) NULL,
 CONSTRAINT [PK_CaAn_CaAnid] PRIMARY KEY CLUSTERED 
(
	[CaAnId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietSuatAn]    Script Date: 11/10/2023 3:23:39 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietSuatAn](
	[ChiTietSuatAnId] [varchar](36) NOT NULL,
	[NhanVienId] [char](36) NULL,
	[SoLuong] [int] NULL,
	[SuatAnId] [char](36) NULL,
	[CaAnId] [char](36) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](255) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](255) NULL,
 CONSTRAINT [PK_ChiTietSuatAn_ChiTietSuatAnId] PRIMARY KEY CLUSTERED 
(
	[ChiTietSuatAnId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 11/10/2023 3:23:39 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[NhanVienId] [char](36) NOT NULL,
	[NhanVienCode] [varchar](255) NULL,
	[NhanVienName] [nvarchar](255) NULL,
	[Username] [varchar](255) NULL,
	[Password] [varchar](255) NULL,
	[Quyen] [varchar](50) NULL,
	[TrangThai] [bit] NULL,
	[Phone] [varchar](20) NULL,
	[Email] [varchar](255) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[NgaySinh] [datetime] NULL,
	[PhongBanId] [char](36) NULL,
	[Role] [char](36) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](255) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](255) NULL,
 CONSTRAINT [PK_NhanVien_NhanVienId] PRIMARY KEY CLUSTERED 
(
	[NhanVienId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhongBan]    Script Date: 11/10/2023 3:23:39 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhongBan](
	[PhongBanId] [char](36) NOT NULL,
	[PhongBanCode] [varchar](255) NULL,
	[PhongBanName] [nvarchar](255) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [varchar](255) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [varchar](255) NULL,
 CONSTRAINT [PK_PhongBan_PhongBanId] PRIMARY KEY CLUSTERED 
(
	[PhongBanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RefreshToken]    Script Date: 11/10/2023 3:23:39 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RefreshToken](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[expiryDate] [datetime] NULL,
	[token] [varchar](255) NULL,
	[user_id] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SuatAn]    Script Date: 11/10/2023 3:23:39 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SuatAn](
	[SuatAnId] [char](36) NOT NULL,
	[NhanVienId] [char](36) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](255) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](255) NULL,
 CONSTRAINT [PK_table1_SuatAnId] PRIMARY KEY CLUSTERED 
(
	[SuatAnId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CaAn] ([CaAnId], [ThoiGianBatDau], [ThoiGianKetThuc], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [CaAnCode]) VALUES (N'11452b0c-768e-5ff7-0d63-eeb1d8ed8cef', CAST(N'2023-08-18T00:38:56.490' AS DateTime), CAST(N'2023-04-04T06:35:49.580' AS DateTime), CAST(N'1979-02-02T17:48:44.580' AS DateTime), N'Adolph Francisco', CAST(N'1994-12-31T12:19:37.080' AS DateTime), N'Jason Blackmon', N'CA-001')
INSERT [dbo].[CaAn] ([CaAnId], [ThoiGianBatDau], [ThoiGianKetThuc], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [CaAnCode]) VALUES (N'142cb08f-7c31-21fa-8e90-67245e8b283e', CAST(N'2023-02-24T20:48:22.920' AS DateTime), CAST(N'2023-08-05T04:32:03.950' AS DateTime), CAST(N'2016-07-07T16:10:02.950' AS DateTime), N'Miyoko Mckinney', CAST(N'2016-03-04T02:36:40.940' AS DateTime), N'Hong Beaudoin', N'CA-002')
INSERT [dbo].[CaAn] ([CaAnId], [ThoiGianBatDau], [ThoiGianKetThuc], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy], [CaAnCode]) VALUES (N'17120d02-6ab5-3e43-18cb-66948daf6128', CAST(N'2023-07-04T18:45:04.190' AS DateTime), CAST(N'2023-07-09T01:11:53.120' AS DateTime), CAST(N'2003-12-09T16:44:32.120' AS DateTime), N'Letha Bolt', CAST(N'2013-12-27T00:50:02.220' AS DateTime), N'Abraham Acevedo', N'CA-003')
GO
INSERT [dbo].[ChiTietSuatAn] ([ChiTietSuatAnId], [NhanVienId], [SoLuong], [SuatAnId], [CaAnId], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (N'0908b8e2-6c2e-4021-b0c3-604af376cc7b', N'5a6a6e82-3b8b-4537-a018-6ec9fcc9e538', 1, N'e27615fd-89b2-4998-977f-795761c0ffee', N'142cb08f-7c31-21fa-8e90-67245e8b283e', CAST(N'2023-10-09T09:19:25.187' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[ChiTietSuatAn] ([ChiTietSuatAnId], [NhanVienId], [SoLuong], [SuatAnId], [CaAnId], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (N'0c68730a-c1ca-47f8-896d-e2d6279b6a13', N'11fbda18-5d9f-396c-1299-04b3a3d51ef2', 1, N'63a05b3a-b402-4d22-b04c-e9bea72e2e83', N'142cb08f-7c31-21fa-8e90-67245e8b283e', CAST(N'2023-10-09T17:22:58.383' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[ChiTietSuatAn] ([ChiTietSuatAnId], [NhanVienId], [SoLuong], [SuatAnId], [CaAnId], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (N'0e358da4-b22f-4952-8187-feb825fae1b9', N'5a6a6e82-3b8b-4537-a018-6ec9fcc9e538', 1, N'e27615fd-89b2-4998-977f-795761c0ffee', N'11452b0c-768e-5ff7-0d63-eeb1d8ed8cef', CAST(N'2023-10-09T09:19:25.187' AS DateTime), NULL, NULL, NULL)
GO
INSERT [dbo].[PhongBan] ([PhongBanId], [PhongBanCode], [PhongBanName], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (N'3b880afd-77ba-69c9-6510-dde5fda516a2', N'PB-002', N'Phòng Nhân Sự', CAST(N'1990-01-15T15:21:37.020' AS DateTime), N'Carina Summers', CAST(N'1979-08-29T12:13:08.920' AS DateTime), N'Delana Devito')
INSERT [dbo].[PhongBan] ([PhongBanId], [PhongBanCode], [PhongBanName], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (N'4f610a3d-21c1-4b2b-c4fe-7f9a08424f7b', N'PB-004', N'Phòng Quản lý', CAST(N'1985-08-02T08:28:57.390' AS DateTime), N'Dina Dykes', CAST(N'1995-08-30T18:36:00.990' AS DateTime), N'Luise Nugent')
INSERT [dbo].[PhongBan] ([PhongBanId], [PhongBanCode], [PhongBanName], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (N'4fe5ee09-2c89-580a-dc49-fe4bedd9e894', N'PB-001', N'Phòng Kế toán', CAST(N'1983-09-21T12:43:09.880' AS DateTime), N'Rocky Souza', CAST(N'2006-03-21T12:43:17.120' AS DateTime), N'Eusebio Amaral')
GO
SET IDENTITY_INSERT [dbo].[RefreshToken] ON 

INSERT [dbo].[RefreshToken] ([id], [expiryDate], [token], [user_id]) VALUES (5, CAST(N'2023-10-11T11:54:34.590' AS DateTime), N'a8915004-4a5b-46eb-bf16-2a53a7062eda', N'5a6a6e82-3b8b-4537-a018-6ec9fcc9e538')
SET IDENTITY_INSERT [dbo].[RefreshToken] OFF
GO
INSERT [dbo].[SuatAn] ([SuatAnId], [NhanVienId], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (N'0c2b97ca-4631-486b-a28f-c9f9cd4f9589', N'5a6a6e82-3b8b-4537-a018-6ec9fcc9e538', CAST(N'2023-09-21T09:18:56.253' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[SuatAn] ([SuatAnId], [NhanVienId], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (N'3002a744-0309-489b-b544-809a720834d1', N'5a6a6e82-3b8b-4537-a018-6ec9fcc9e538', CAST(N'2023-10-10T14:08:13.223' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[SuatAn] ([SuatAnId], [NhanVienId], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (N'4d4f00fe-1e65-459e-9322-982f2fa14398', N'5a6a6e82-3b8b-4537-a018-6ec9fcc9e538', CAST(N'2023-10-10T09:32:07.347' AS DateTime), NULL, NULL, NULL)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NhanVien__536C85E4227F3D0F]    Script Date: 11/10/2023 3:23:39 CH ******/
ALTER TABLE [dbo].[NhanVien] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NhanVien__BD1C10E8171A9960]    Script Date: 11/10/2023 3:23:39 CH ******/
ALTER TABLE [dbo].[NhanVien] ADD UNIQUE NONCLUSTERED 
(
	[NhanVienCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChiTietSuatAn]  WITH NOCHECK ADD  CONSTRAINT [FK_ChiTietSuatAn_CaAnId] FOREIGN KEY([CaAnId])
REFERENCES [dbo].[CaAn] ([CaAnId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietSuatAn] CHECK CONSTRAINT [FK_ChiTietSuatAn_CaAnId]
GO
ALTER TABLE [dbo].[ChiTietSuatAn]  WITH NOCHECK ADD  CONSTRAINT [FK_ChiTietSuatAn_NhanVienId] FOREIGN KEY([NhanVienId])
REFERENCES [dbo].[NhanVien] ([NhanVienId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietSuatAn] CHECK CONSTRAINT [FK_ChiTietSuatAn_NhanVienId]
GO
ALTER TABLE [dbo].[ChiTietSuatAn]  WITH NOCHECK ADD  CONSTRAINT [FK_ChiTietSuatAn_SuatAnId] FOREIGN KEY([SuatAnId])
REFERENCES [dbo].[SuatAn] ([SuatAnId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietSuatAn] CHECK CONSTRAINT [FK_ChiTietSuatAn_SuatAnId]
GO
ALTER TABLE [dbo].[NhanVien]  WITH NOCHECK ADD  CONSTRAINT [FK_NhanVien_PhongBanId] FOREIGN KEY([PhongBanId])
REFERENCES [dbo].[PhongBan] ([PhongBanId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_PhongBanId]
GO
ALTER TABLE [dbo].[SuatAn]  WITH NOCHECK ADD  CONSTRAINT [FK_SuatAn_NhanVienId] FOREIGN KEY([NhanVienId])
REFERENCES [dbo].[NhanVien] ([NhanVienId])
GO
ALTER TABLE [dbo].[SuatAn] CHECK CONSTRAINT [FK_SuatAn_NhanVienId]
GO
/****** Object:  StoredProcedure [dbo].[Sp_ThongKeAnCaThang]    Script Date: 11/10/2023 3:23:39 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[Sp_ThongKeAnCaThang]
@Month int,
@Year int
as
begin
	select ChiTietSuatAn.ChiTietSuatAnId as IDChiTietSuatAn, 
  ChiTietSuatAn.NhanVienId as IDNguoiAn,       
  ChiTietSuatAn.SoLuong, 
  ChiTietSuatAn.SuatAnId,
  ChiTietSuatAn.CaAnId,
  SuatAn.SuatAnId as SuatAnID,
  SuatAn.NhanVienId as ID_NDK,
  SuatAn.CreatedDate,
  NhanVien.NhanVienId as IDNhanVien,
  NhanVien.NhanVienName as hoTenNguoiAn,
  NhanVien.PhongBanId,
  CaAn.ThoiGianBatDau,
  CaAn.ThoiGianKetThuc,
  PhongBan.PhongBanName
  
  from ChiTietSuatAn, SuatAn, NhanVien, CaAn, PhongBan
  where ChiTietSuatAn.SuatAnId = SuatAn.SuatAnId

  and NhanVien.PhongBanId = PhongBan.PhongBanId
  and CaAn.CaAnId = ChiTietSuatAn.CaAnId
  and ChiTietSuatAn.NhanVienId = NhanVien.NhanVienId
  and month(SuatAn.CreatedDate) = @Month and year(SuatAn.CreatedDate) = @Year
end

GO
/****** Object:  StoredProcedure [dbo].[Sp_ThongKeCaAnNgay]    Script Date: 11/10/2023 3:23:39 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[Sp_ThongKeCaAnNgay]
  @DateStart DateTime,
  @DateEnd DateTime
  as
  begin
  declare @TmpDate varchar(10);
 
  select 
  ChiTietSuatAn.ChiTietSuatAnId as ThongKeTheoNgayId,
  ChiTietSuatAn.NhanVienId as IDNguoiAn,
  ChiTietSuatAn.SoLuong,
  ChiTietSuatAn.SuatAnId,
  ChiTietSuatAn.CaAnId,
  SuatAn.NhanVienId as ID_NDK,
  SuatAn.CreatedDate,
  NhanVien.NhanVienName as hoTenNguoiAn,
  NhanVien.PhongBanId,
  CaAn.ThoiGianBatDau,
  CaAn.ThoiGianKetThuc,
  PhongBan.PhongBanName
  
  from ChiTietSuatAn, SuatAn, NhanVien, CaAn, PhongBan
  where ChiTietSuatAn.SuatAnId = SuatAn.SuatAnId

  and NhanVien.PhongBanId = PhongBan.PhongBanId
  and CaAn.CaAnId = ChiTietSuatAn.CaAnId
  and ChiTietSuatAn.NhanVienId = NhanVien.NhanVienId
  and SuatAn.CreatedDate >= @DateStart
  and SuatAn.CreatedDate <= @DateEnd
  end


GO
/****** Object:  StoredProcedure [dbo].[Sp_ThongKeSuatAnCaNhan]    Script Date: 11/10/2023 3:23:39 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[Sp_ThongKeSuatAnCaNhan]
@startDate datetime,
@endDate datetime, 
@userId char(36)
as
begin
		 (SELECT

     SuatAn.NhanVienId,
     SuatAn.CreatedDate,
     ChiTietSuatAn.ChiTietSuatAnId
     as IDChiTietSuatAn, 
     ChiTietSuatAn.SoLuong,
     ChiTietSuatAn.SuatAnId,
     ChiTietSuatAn.CaAnId
     from SuatAn, ChiTietSuatAn
     where SuatAn.SuatAnId = ChiTietSuatAn.SuatAnId 
     and SuatAn.NhanVienId = @userId
		 and SuatAn.NhanVienId = ChiTietSuatAn.NhanVienId
     and SuatAn.CreatedDate >= @startDate
     and SuatAn.CreatedDate <= @endDate) 

end



GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'thông tin ca ăn được thêm vào' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CaAn'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'thông tin chi tiết suất ăn cho mỗi lần đăng ký' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ChiTietSuatAn'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'thông tin nhân viên' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'NhanVien'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'thông tin phòng ban' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PhongBan'
GO
USE [master]
GO
